



.navbar{   
    display: flex;
    flex-direction: row;
}

.image-and-title{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    max-height:4rem;
    gap:1rem;
    margin-left: 0.1rem;
    padding:0.6rem;
    

    > .symbol{
        
        display: inline-block;
        animation: rotate 10s linear infinite;
        fill:var(--logo_svg_default);
        height:3.12rem;
        width:3.12rem;
        filter: brightness(100%) ;
        transition: fill 2s ease ,filter 2s ease;


        &:hover{
            fill: var(--logo_svg_onhover);
            filter: brightness(120%);
        }
    }

    > .title{
        margin-top: 0.5rem;
        font-size: 1.5rem;
        text-align: justify;
        color:var(--title_default);
        transition:color 1s ease;
        
    }

    > .title:hover{
        color:var(--title_onhover);
    }


}

.toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

    @keyframes rotate {
    from{
        transform: rotate(0deg) scale(1)
    }
    to{
        transform: rotate(360deg) scale(1)
    }
    };



@media (max-width:365px){

    .title{
        display: none;
    }
}