


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-shrink: 1;
    border:2px solid var(--card_color);
    width:50rem;
    max-height:20rem;
    min-height:40rem;
    padding:1rem;
    border-radius:1rem;
    box-shadow: 4px 4px 5px var(--card_shadow);
}


.map{
    width:100%;
    height: 30rem;
    aspect-ratio: 16/9;
    border: 0;
}

.refresh{
    position: absolute;
    bottom:1rem;
    right:1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    border:2px solid var(--card_button_color);
    color:var(--card_button_text_color);
    border-radius:1rem;
    padding: 5px 10px 5px 10px;
    transform: scale(1);
    transition: transform 1s ease,color 1s ease;

    &:hover{
        color:var(--card_button_onhover);
        transform: scale(0.9);
    }
}





@media (max-width:450px) {


    
    .map{
        width:100%;
        height:15rem;
    }

    .card{
        flex-shrink: 1;
        height:auto;
        padding:1rem 1rem 4rem 1rem;
        min-height:1rem;
    }

    .refresh{
        bottom: 0.5rem;

    }

}