


.box{
    min-width:20rem;
    border-radius:1.2rem;
    padding:4rem 1rem 4rem 1rem;
    border:2px solid var(--card_color);
    margin: auto;
    position: relative;
    word-break:break-all;
    white-space: normal;
    box-shadow: 4px 4px 5px 0px var(--card_shadow);
}


.loading{
    height: 24px;
    width: 24px;
    min-width: 20rem;
    fill: var(--loading_svg_color);
    display: inline-block;
    position: relative;
    top:0.2rem;
    animation: rotate 1s alternate infinite;
}

.emailtitle{
    color: var(--card_text_color);
}

.email{
    color: var(--card_text_color);
    margin-left:1rem;
    max-width: fit-content;
}

.error{
    margin-left:1rem;
    color: var(--error);
}

.signoutbutton{
    border: 2px solid (--card_button_color);
    color: var(--card_button_text_color);
    position: absolute;
    padding: 5px 10px 5px 10px;
    right: 10px;
    bottom:15px;
}

@keyframes rotate{
    from{
        opacity:1;
        transform: rotate(0deg);
    }
    to{
        opacity:0.5;
        transform: rotate(360deg);
    }
}



@media (max-width : 450px) {



    .box{
        min-width:18rem;
        padding:4rem 0.5rem 4rem 0.5rem;
        word-break:break-all;
        white-space: normal;
    }

    .loading{
        display: block;
        min-width:15rem;
    }

    .emailtitle{
        white-space: nowrap;
    }

    .email{
        display: block;
        margin-left:0;
        margin-top:1rem;
        word-wrap: break-word;
        overflow-wrap:break-word;
        white-space: normal;
    }
}
