


.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:2rem;
    padding:1rem 5rem 1rem 1rem;
    border:2px solid var(--card_color);
    box-shadow: 4px 4px 5px var(--card_shadow);
    border-radius:0.95rem;
    min-width:15rem;
    overflow: hidden;
}

.statustitle{
    color:var(--card_text_color);
    font-size: 1.1rem;
    white-space: nowrap;
}

.sleeptitle{
    color:var(--card_text_color);
    font-size: 1.1rem;
    white-space: nowrap;
}

.status{
    color: var(--seat_status);
}

.sleep{
    color:var(--drowsiness_color);
}


@media (max-width:350px){
    
    .main{
        padding:1rem 3rem 1rem 1rem;
    }
}