
.card{

    max-width: fit-content;
    margin: auto;
    padding: 1rem;

    .spansvg{
        max-width: fit-content;
        max-height: fit-content;
        padding: 1rem;
    }

    >div{
        max-width:20rem;
    }

    >div>p{
        min-height:30rem;
    }





}

.para{
    color: var(--text_color);
}

.spansvg{
    display: flex;
    flex-direction: row;
}

.holder{
    
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
        
    a>svg{
        fill: var(--svg_color);
        min-height:35px;
        min-width:35px;
        align-self: flex-start;
        transition:fill 1s ease,scale 0.5s ease;
    }

    >a>svg:hover{
        scale:(1.2);
        fill:var(--svg_onhover);
    }


    & > a{
        display:inline-block;
        text-decoration: none;
        color: var(--text_color);
        font-size:1.5rem;
        font-weight: 400;
        opacity:1;
        transform: scale(1);
        transition:color 1s ease,opacity 1s ease,transform 0.5s ease;
        
    }

    & > a:hover{
        color: var(--text_onhover);
        opacity:0.8;
        transform:scale(1.2);
    }



}


