


.card{
    border:2px solid var(--card_color);
    width:20rem;
    padding: 1rem 2rem 5rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    gap:1rem;
    position: relative;
    box-shadow: 2px 2px 5px var(--card_shadow);
}

.starttitle{
    color: var(--card_text_color);
    font-size:medium;
    overflow: visible;
    
}
.starttime{
    
    color: var(--input_text_color);
    padding:5px;
    border: 2px solid var(--input_color);
    width: 100%;
    border-radius:15px;
}

.endtitle{
    
    color: var(--card_text_color);
    font-size: medium;
    overflow: visible;
    
}

.endtime{
    color: var(--input_text_color);
    padding:5px;
    border: 2px solid var(--input_color);
    width: 100%;
    border-radius:15px;
}


.select{
    color: var(--selection_color);
    padding:5px;
    border: 2px solid var(--selection_color);
    border-radius:15px;
}

.options{
    border: 2px solid var( --selection_text);
}

.submitbtn{
    position: absolute;
    bottom:20px;
    right:20px;
    color: var(--card_button_text_color);
    border-radius:15px;
    border: 2px solid var(--card_button_color);
    padding: 5px 10px 5px 10px;
    transition: transform 1s ease,color 1s ease;

    &:hover{
        transform: scale(1.1);
        color: var(--card_button_onhover);
    }
}


.error{
    color: var(--error);
}


@media (max-width : 350px){

    .card{
        width:18rem;
        padding: 1rem 1rem 5rem 1rem;
    }
}




