


.loading{
    height: 24px;
    width: 24px;
    fill: var(--loading_svg_color);
    animation: rotate 1s alternate infinite;
}





@keyframes rotate{
    from{
        opacity:1;
        transform: rotate((0deg));
    }
    to{
        opacity:0.5;
        transform: rotate((360deg));
    }
}