


.forward-status{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    margin-top:1rem;
    padding:1rem;
}



.date-and-time{
    margin-left: auto;
    margin-right:2rem;
}

.drowsiness-and-seat-status{
    margin-left: auto;
}

.grid{
    padding:5rem;
    display: grid;
    column-gap:1rem;
    row-gap:1rem;
    grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));
}


.alertscard{
    height:30rem;
}



.mapcenter{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-shrink: 1;
    padding:3rem;
}

.chartholder{
    padding:2rem;
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: center;
    flex-shrink: 1;
}

.charttitle{
    color: var(--card_text_color);
    padding: 0.5rem;
}




.chart{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap:1.2rem;
    flex-shrink: 1;
    border:2px solid var(--card_color);
    width:50rem;
    height: auto;
    padding:1rem 1rem 2rem 1rem;
    border-radius:1rem;
    box-shadow: 4px 4px 5px var(--card_shadow); 
    outline: none;
    
}

.mainchart{
    overflow: hidden;
}

.goback{
    font-size:large;
    border: 2px solid var(--button_color);
    color:var(--button_text_color);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    transition: color 1s ease ,transform 1s ease;
    
    &:hover{
        color: var(--button_onhover);
        transform: scale(0.9);
    }
}


.gobackcenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.gobackcentertop{

    height: fit-content;
    padding:1rem;

}


@media (max-width:1197px){

    .grid{
        grid-template-columns:repeat(auto-fit,minmax(15rem,1fr));
        column-gap:2rem;
        row-gap:2rem;
    }

    .forward-status{
        gap:2rem;
    }
}

@media (max-width:850px){

    .forward-status{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-content: flex-start;
        flex-shrink: 1;
    }

    .gobackcentertop{
        margin-right: auto;
    }

    .date-and-time{
        margin: 0;
    }

    .drowsiness-and-seat-status{
        margin: 0;
    }

}


@media (max-width:395px){

    .forward-status{
        flex-direction: column;
        justify-content:flex-start;
        align-content: flex-start;
        padding:1rem;
    }


    .date-and-time{
        display: block;
        margin: 0;
        padding:0.5rem;
    }

    .drowsiness-and-seat-status{
        margin: 0;
    }

    .grid{
        padding:2rem;
        margin-right:auto;
    }

}



@media (max-width:450px){
    .mapcenter{
        padding: 1rem 1rem 1rem 1rem;
    }
}