
@font-face {
    font-family:Poppins;
    src: url("/Poppins/Poppins-Light.ttf");
}




*::-webkit-scrollbar {
  display: none;
}



body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background);
}

.center{
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}


.error{
    font-size:2rem;
}

.explain{
    font-size: 1rem;
}

a{
    text-decoration: none;
    font-size: 1rem;
    transition: color 1s ease,transform 1s ease;
    color: var(--hyperlink2-default);

    &:hover{
        color: var(--hyperlink2-loading);
        transform: scale(0.9);
    }
}