
@font-face {
    font-family:Poppins;
    src: url("/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family:Montserrat;
    src: url("/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family:Roboto;
    src: url("/Roboto/Roboto-VariableFont_wdth,wght.ttf");
}



$dark_backgroud :black;
$white_background :white;
$font_color_for_dark_background:white;
$font_color_for_light_background:black;


*::-webkit-scrollbar {
  display: none;
}

*,*::after,*::before{
    font-family:Poppins;
    color: white;   
    
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(236, 143, 240),rgb(79, 137, 230));
}



