
.loading-div{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.svg{
    
    fill:var(--loading_svg_color);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}