
.center{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding:20px;
}


.centerlink{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding:10px 0px 0px 0px;
}

.reenter{
    position: relative
}


.link1{

        text-decoration: none;
        color:var(--hyperlink1-default) ;
        transition:color 0.5s ease ;


    &:hover{
        color:var(--hyperlink1-hover) ;
    }
}


.link2{

        text-decoration: none;
        color: var(--hyperlink2-default);
        transition:color 0.5s ease ;
        

    &:hover{
        color:var(--hyperlink2-hover);
    }
}


@media(max-width:400px){
    .reenter{
        position: relative;
        left: 0;
    }
}