
.center{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding:20px;
}


.centerlink{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding:10px 0px 0px 0px;
}

.reenter{
    position: relative
}


.link1{

        text-decoration: none;
        color: rgb(0, 255, 183);
        transition:color 0.5s ease ;


    &:hover{
        color: rgb(252, 3, 140);
    }
}


.link2{

        text-decoration: none;
        color: rgba(0, 225, 255, 0.747);
        transition:color 0.5s ease ;
        

    &:hover{
        color: rgb(152, 255, 168);
    }
}


@media(max-width:400px){
    .reenter{
        position: relative;
        left: 0;
    }
}