.gobacktop{
    border: 2px solid var(--card_button_color);
    color: var(--card_button_text_color);
    padding: 5px 10px 5px 10px;
    border-radius:15px;
    width:10rem;
    transition: color 1s ease ,transform 1s ease;
    
    &:hover{
        color:var(--card_button_onhover);
        transform: scale(1.1);
    }
}


.gobackbottom{
    border:2px solid var(--button_color);
    color: var(--button_text_color);
    padding: 5px 10px 5px 10px;
    border-radius:15px;
    width:10rem;
    transition: color 1s ease ,transform 1s ease;
    
    &:hover{
        color:var(--button_onhover);
        transform: scale(1.1);
    }
}




.databar{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border:solid 2px var(--card_color);
    margin: 1rem;
    padding:1rem;
    border-radius:15px;
    box-shadow: 4px 4px 5px var(--card_color_shadow);
    color: var(--card_text_color);
}



.center_error{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    margin: auto;
    color:var(--text_color);

    & .error{
        font-size:2rem;
    }

}

.tableholder{
    width:100%;
    padding:1rem 2rem 2rem 2rem;
   
}

caption{
    font-family:Poppins;
    font-size:1.5rem;
    padding: 1rem;
    font-weight:800;
    color: var(--text_color);
}

table{
    
    width: 100%;
    border-collapse: collapse;
    border:2px solid var(--tablerowonecolor);
    border-radius:15px;
    box-shadow: 4px 4px 5px var(--tableshadow);
    
}

td,th{
    color: var(--tablecontentcolor);
    padding: 1rem;
    text-align:center;
}


tr:nth-of-type(2n){
    border:2px solid var(--tablerowtwocolor);
    
}


.morebutton{
    border:2px solid var(--table_button_color);
    color: var(--table_button_text_color);
    border-radius:15px;
    padding:5px 10px 5px 10px;
    transition:color 1s ease,transform 1s ease;

    &:hover{
        transform:scale(1.1);
        color: var(--table_button_onhover);
    }

    > a{
        text-decoration: none;
    }
}

.centergoback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

@media (max-width:1116px){

    .databar{
    display: flex;
    flex-direction:column;
    gap:1.2rem;
    }
}


@media (max-width : 760px){

    th{
        display: none;
    }

    td{
        display:flex;  
        word-break: break-all;
    }

    td::before{
        content: attr(data-cell) " : ";
        margin:0px 20px;
        display:inline-block;
        
    }

    table{
        tr{
            td:nth-child(6){
                &::before{
                    content: none;
                }
            }
        }
    }
}

@media (max-width : 415px){
    
    td::before{
        content: attr(data-cell); 
    }
}