

.card{

    border:2px solid var(--card_color);
    border-radius: 15px;
    box-shadow: 4px 4px 5px var(--card_shadow);
    width: 30rem;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    gap:1.2rem;
    position: relative;
}

.title{
    color: var(--card_text_color);
}

.content{
    color: var(--card_text_color);
}


.resolved{
    position: absolute;
    color: var(--card_button_text_color);
    bottom: 10px;
    right: 10px;
    border:2px solid var(--card_button_color);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
   
    transition: color 1s ease ,transform 1s ease;

    &:hover{
        color:var(--card_button_onhover);
        transform: scale(0.9);
        
    }
}




@media (max-width:510px){
    .card{
        width:100%;
    }
}