


.card{
   display: flex;
   flex-direction: column;
   justify-content:flex-start;
   align-content: flex-start;
   border:2px solid var(--card_color);
   padding:1rem 5rem 1rem 1rem;
   border-radius:0.95rem;
   box-shadow: 4px 4px 5px var(--card_shadow);
   width:18rem;
   overflow: hidden;
   white-space:nowrap;
}

.dateandtimetitle{
    color:var(--card_text_color);
    font-family: 1.1rem;
    white-space: nowrap;
}

.dateandtime{
    color:var(--date_and_time);
}