.navbar {
    display: flex;
    flex-direction: row;

}

.image-and-title {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    max-height: 4rem;
    gap: 1rem;
    margin-left: 0.1rem;
    padding: 0.6rem;


    >.symbol {

        display: inline-block;
        animation: rotate 10s linear infinite;
        fill: var(--logo_svg_default);
        height: 3.12rem;
        width: 3.12rem;
        filter: brightness(100%);
        transition: fill 2s ease, filter 2s ease;


        &:hover {

            fill: var(--logo_svg_onhover);
            filter: brightness(120%);
        }
    }

    >.title {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        text-align: justify;
        color: var(--title_default);
        transition: color 1s ease;

    }

    >.title:hover {
        color: var(--title_onhover);
    }


}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(360deg) scale(1)
    }
}

;

.nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
    gap: 1rem;
    margin-top: 1.2rem;
    margin-bottom: auto;
    max-width: fit-content;
    padding: 0rem 0rem 1rem 0rem;

    .icondefault {
        fill: var(--nav_icon_default);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }


    >.default {
        text-decoration: none;
        max-width: fit-content;
        max-height: fit-content;
        display: flex;
        gap: 0.5rem;
        transition: color 0.3s ease, transform 1s ease;

        &:hover {
            color: var(--nav_title_hover);
            transform: scale(0.9);

            .icondefault>svg {
                fill: var(--nav_icon_hover);
            }

            .labeldefault {
                color: var(--nav_title_hover);
            }

        }

    }



    >.active {
        animation: none;
    }

}



.labeldefault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: var(--nav_title_default);
    transition: color 0.3s ease;

}

.labelactive {
    color:var(--nav_title_active);
}


.icondefault>svg {
    height: 24px;
    width: 24px;

    fill: var(--nav_icon_default);
    transition: fill 0.3s ease;
}

.iconactive>svg {
    fill: var(--nav_icon_active);
}



.NavSvg {
    display: none;
    fill: var(--hamburger_icon_color);
    width: 100%;
    height: 100%;

}

.NavbarButton {
    display: none;
    max-height: fit-content;
    max-width: fit-content;
    border: none;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.Close {
    display: none;
    max-width: fit-content;
    border: none;
}

.CloseSvg {
    display: none;
    fill: var(--closesvg-color);
    background-color: rgba(250, 249, 255, 0.123);
    background-clip: text;
}

@media(max-width:1000px) {

    .labeldefault {
        display: none;
        width: fit-content;
        height: fit-content;
    }
}




@media(max-width:800px) {

    .image-and-title {
        width: 100vw;
    }

    .CloseSvg,
    .NavSvg,
    .NavbarButton,
    .Close {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 110vh;
        min-width: 40vw;
        z-index: 10;
        margin-left: auto;
        position: fixed;
        top: -1.75rem;
        right: -2rem;
        background-color:var(--mobile_navbar_color);
        opacity: 0;
        backdrop-filter: blur(10px);
        transform: translateX(100%);

        transition: opacity 1s ease, transform 1s ease;

        &>a {
            background-clip: text;
            margin-left: 1rem;
            padding-right: 1rem;
        }

        &>.signout {
            margin-left: 1.8rem;
        }



        >.default {
            text-decoration: none;
            max-width: fit-content;
            max-height: fit-content;

        }

        >.active {
            animation: none;
        }
    }

    .labeldefault {
        display: inline;
    }

    .nav>a:nth-child(2) {
        margin-top: 5rem;
    }

    .Close {
        position: absolute;
        left: 1rem;
        top: 2rem;
        background-clip: text;
    }

    .default {
        text-align: center;
    }

    .on {
        opacity: 0.8;
        transform: translateX(0);
    }


    .off {
        opacity: 0;
        transform: translateX(100%);
    }



    .toggle{
        display: block;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        z-index:20;
    }


}


@media(max-width:400px) {

    .title {
        display: none;
    }
    .nav{
        min-width: 60vw;
    }
}