
$mobile-navbar-bg:linear-gradient(45deg,rgb(229, 84, 176),rgb(200, 101, 236));


.navbar{   
    display: flex;
    flex-direction: row;
}

.image-and-title{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    max-height:4rem;
    gap:1rem;
    margin-left: 0.1rem;
    padding:0.6rem;
    

    > .symbol{
        
        display: inline-block;
        animation: rotate 10s linear infinite;
        fill:white;
        height:3.12rem;
        width:3.12rem;
        filter: brightness(100%) ;
        transition: fill 2s ease ,filter 2s ease;


        &:hover{
            
            fill: rgb(70, 222, 192);
            filter: brightness(120%);
        }
    }

    > .title{
        margin-top: 0.5rem;
        font-size: 1.5rem;
        text-align: justify;
        color: white;
        transition:color 1s ease;
        
    }

    > .title:hover{
        color:#65f2d1;
    }


}

    @keyframes rotate {
    from{
        transform: rotate(0deg) scale(1)
    }
    to{
        transform: rotate(360deg) scale(1)
    }
    };

.nav{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
    gap:1rem;  
    margin-top: 1.75rem;
    max-width: fit-content;
    padding:0rem 0 1rem 0rem;
    
    >.default{
        text-decoration: none;
        color: white;
        max-width: fit-content;
        max-height: fit-content;
        transition: color 0.5s ease,transform 1s ease;

        &:hover{
        color: rgb(228, 9, 140);
        transform: scale(0.9);

    }

    }

    >.active{
        color: rgb(149, 16, 220);
        animation: none;
    }
}



.NavSvg{
    display: none;
    fill:white;
    width:100%;
    height:100%;
    
}

.NavbarButton{
    display:none;
    max-height:fit-content;
    max-width: fit-content;
    border: none;
    margin-left: auto;
    margin-right:0.5rem;
    margin-top: 1rem;
    background-color: #5489e6;

}

.Close{
    display: none;
    background-image:$mobile-navbar-bg;
    max-width: fit-content;
    border:none;  
}

.CloseSvg{
    display: none;
    fill: white;
    background-image: $mobile-navbar-bg;
    background-clip: text;
}





@media(max-width:800px){

    .image-and-title{
        width:100vw;
    }

    .CloseSvg,.NavSvg,.NavbarButton,.Close{
        display:block;
    }

    .nav{
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        min-height:100vh;
        min-width:40vw;
        z-index:100;
        margin-left: auto;
        position: fixed;
        top:-1.75rem;
        right:-2rem;
        background-image:$mobile-navbar-bg;
        opacity:0;
        backdrop-filter:blur(10px);
        transform: translateX(100%) ;
        
        transition:opacity 1s ease,transform 1s ease;

        & > a{
            background-color: #c665df;
            background-clip: text;
            margin-left:2rem;
        }

        & > .signout{
            margin-left:1.8rem;
        }



        >.default{
            text-decoration: none;
            color: white;
            transition: color 0.5s ease;
            max-width: fit-content;
            max-height: fit-content;
            

            &:hover{
            color: rgb(228, 9, 71);

        }

        }

        >.active{
            color: rgb(16, 128, 220);
            animation: none;
        }
    }

    .nav > a:nth-child(2){
        margin-top: 5rem;
    }

    .Close{
        position: absolute;
        left:0;
        top:0;
        background-clip: text;
    }

    .default{
        background-image:$mobile-navbar-bg;
        text-align: center;
    }

    .on{
    opacity: 0.9;
    transform: translateX(0);
    }


    .off{
    opacity: 0;
    transform: translateX(100%);
    }

    .Close{
        margin-top: 2rem;
    }
}


@media(max-width:400px){

    .title{
        display: none;
    }
}