


.SignoutButton{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    border:2px solid var(--button_color);
    color: var(--button_text_color);
    border-radius:1rem;
    padding:0 1rem 0 1rem;
    transform: scale(1);
    transition: transform 1s ease,color 1s ease;
    &:hover{
        color: var(--button_onhover);
        transform: scale(0.9);
    }
}

