


.SignoutButton{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.409);
    color: white;
    border-radius:1rem;
    padding:0 1rem 0 1rem;
    transform: scale(1);
    transition: transform 1s ease,color 1s ease;
    border: none;
    &:hover{
        color: rgb(205, 41, 237);
        transform: scale(0.9);
    }
}

