
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    min-width:fit-content;
    margin-bottom:0.5rem;
    padding: 1rem;

    >div > a{
        text-decoration: none;
        opacity: 1;
        color:var(--footer_text);
        transition: opacity 1s ease ,color 1s ease;
    }

    >div > a:hover{
        opacity: 0.5;
        color:var(--footer_text_onhover);
        transform: scale(1.1);
    }
}

.content{
    color: var(--text_color);
    white-space:nowrap;
}


