

.FormCenter{

    border: 2px solid var(--card_color);
    border-radius: 1.2rem;
    display: inline-block;
    box-shadow: 4px 4px 5px 0px var(--card_shadow);

    & form{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        max-height:25rem;
        max-width:25rem;
        padding:2rem 6rem 2rem 6rem;
        gap:1.2rem;
        border-radius:1.2rem;
        
    }

    & input{
        display:block;
        text-decoration: none;
        border-radius:0.5rem;
        min-height:1.2rem;
        min-width:1.2rem;
        color:var(--input_text_color);
        border: 2px solid var(--input_color);
        padding:5px 10px 5px 10px;
    }

    & button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border:2px solid var(--card_button_color);
        color: var(--card_button_text_color);
        border-radius:1rem;
        padding: 5px 10px 5px 10px;

    }


}

.title{
    color: var(--card_text_color);
    font-size:1.4rem;
    overflow: visible;
}

.error{
    color:var(--error);
    font-size:1rem;
    white-space: nowrap;
    overflow: visible;
}

.success{
    color:var(--success);
    font-size:1rem;
    white-space: nowrap;
}



@media (max-width:450px) {


.FormCenter{

    & form{
        padding:2rem 1.5rem 2rem 2rem;
    }
}
    
.error{
    font-size:1rem;
    white-space: nowrap;
}

}