

.FormCenter{

    background-image: linear-gradient(45deg,rgba(29, 19, 19, 0.388),rgba(28, 28, 28, 0.498));
    border-radius: 1.2rem;
    display: inline-block;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.626);

    & form{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        max-height:25rem;
        max-width:25rem;
        padding:2rem 6rem 2rem 6rem;
        gap:1.2rem;
        border-radius:1.2rem;
        
    }

    & input{
        display:block;
        text-decoration: none;
        border-radius:0.5rem;
        min-height:1.2rem;
        min-width:1.2rem;
        color:white;
        background: rgba(0, 0, 0, 0.409);
        padding:5px 10px 5px 10px;
        border: none;
    }

    & button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background: rgba(0, 0, 0, 0.409);
        color: white;
        border-radius:1rem;
        padding: 5px 10px 5px 10px;
        border: none;
    }


}

.title{
    font-size:1.4rem;
    overflow: visible;
}

.error{
    color: red;
    font-size:1rem;
    white-space: nowrap;
    overflow: visible;
}

.success{
    color:rgb(15, 237, 15);
    font-size:1rem;
    white-space: nowrap;
}



@media (max-width:450px) {


.FormCenter{

    & form{
        
        padding:0.5rem;
    }
}
    
.error{
    color: red;
    font-size:1rem;
    white-space: nowrap;
}

}